<ul class="links">
  <!-- <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Theme Home</a></li> -->
  <li class="{% if page.url contains '/about/' %} active {% endif %}">
    <a href="{{ "/about/" | absolute_url }}">About</a>
  </li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <!-- <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li> -->
  <li class="{% if page.url contains '/CSCI340/' %} active {% endif %}"><a href="http://mark.goadrich.com/courses/csci340f19/index.html">CSCI 340</a></li>
  <li class="{% if page.url contains '/rocket/' %} active {% endif %}"><a href="{{ "/rocket/" | absolute_url }}">Rocket League</a></li>
</ul>

<ul class="icons">
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
